header{
  background-color: #78e71d;
  padding: 0;
  border-bottom: 1px solid #0c4705
}
a{
  /* color: #af1313; */
  color: whitesmoke;
}
a:hover{
  background-color:#e72929;
  color: white;
}
.container{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
a.logo{
  font-weight: bold;
  padding: 1rem;
}
nav ul{
  list-style-type: none;
  margin: 0;
}
nav ul li a{
  padding: 1rem;
  display: inline-block;
}
